//
// Footer
// --------------------------------------------------


.site-footer {
    
    @include breakpoint(large) {
        background: linear-gradient(to left, #fff 50%, $dark-gray 50%);   
    }
    
    .left {
        padding-top: rem-calc(50); 
        background-color: $dark-gray;  
        
        @include breakpoint(large) {
            padding-top: rem-calc(100);
        }
    }
    
    .right {
       background-color: #fff; 
       
       padding-top: rem-calc(50);   
        
        @include breakpoint(large) {
            padding-top: rem-calc(100);
        }
       
       .content {
            @include breakpoint(large) {
                padding-left: 10%;
            }
            
            @include breakpoint(xxxlarge) {
                padding-left: rem-calc(145);
            }
            
            h2 {
                font-size: rem-calc(72*.6);
                
                @include breakpoint(medium) {
                    font-size: rem-calc(72*.8);
                }
                
                @include breakpoint(large) {
                    font-size: rem-calc(72);
                }
                
                line-height: 1.138888889;   
                margin-bottom: rem-calc(60);
            }
       }
    }

	.widget {
		color: $white;

		.widget-title {
            color: $white;
			font-size: rem-calc(20);
		}
	}

	.widget_nav_menu {
		.widget-title {
			margin-bottom: 0;
		}

		.menu {
			margin: 0;
			padding: 0;
			display: block;
		}

		.menu-item {
			display: block;
		}

		a {
			color: $white;
			font-size: $global-font-size;
			line-height: 24px;
			padding: 0;
		}
	}

	.social-icons {

		@include list-reset;
		height: 24px;
		margin-bottom: 30px;

		li {
			display: inline-block;
			padding: 0 16px 0 0;
			height: 24px;

			@include breakpoint(large) {
				padding: 0 0 0 15px;
			}

		}

		a {
			transition: 250ms;
			width: 24px;
			height: 24px;
			display: block;
			background-color: $primary-color;
			border-radius: 50%;
			position: relative;

			&:hover {
				background-color: $primary-color;
				border-radius: 50%;

				&:hover {
					svg {
						fill: $white;
					}
				}
			}
		}

		svg {
			width: 18px;
			height: 18px;
			fill: $white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}


		@include breakpoint(medium) {
			li {
				padding: 0 15px 0 0;

			}
		}

	}


}
