

.section-hero {
     
    &.background-image {        
        background-color: transparent;
        background-size: cover;
        position: relative;
    }

    .hero-content {
        max-width: rem-calc(1024);
        margin: 0 auto;
    }

}

